<div class="form-container">
  <h2>Cadastrar Nova Vela</h2>
  
  <form [formGroup]="velaForm" (ngSubmit)="onSubmit()">
    
    <mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="nome" required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Aroma</mat-label>
      <input matInput formControlName="aroma" required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Tipo</mat-label>
      <input matInput formControlName="tipo">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Preço</mat-label>
      <input matInput type="number" formControlName="preco" min="0" required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Estoque</mat-label>
      <input matInput type="number" formControlName="estoque" min="0" required>
    </mat-form-field>

    <div class="button-group">
      <button mat-button type="button" routerLink="/admin/velas">Cancelar</button>
      <button mat-raised-button color="primary" type="submit" 
              [disabled]="!velaForm.valid">
        Cadastrar
      </button>
    </div>
    
  </form>
</div>
